.slideshow
    position: relative
    border-radius: 25px
    overflow: hidden
    height: 415px
    margin-bottom: 30px
.slideshow__image
    width: 100%
    height: 100%
    object-fit: cover
.slideshow__arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background: transparent
    border: none
    cursor: pointer
.slideshow__arrow--left
    left: 20px
.slideshow__arrow--right
    right: 20px
.slideshow__counter
    position: absolute
    bottom: 25px
    left: 50%
    transform: translateX(-50%)
    color: white
    font-size: 18px
    font-weight: 500

@media (max-width: 768px)
    .slideshow
        height: 255px
        border-radius: 10px
    .slideshow__arrow svg
        width: 24px
        height: 40px
    .slideshow__counter
        display: none
